header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

}

.factory-section {
	border: 2px solid;
	display: none;
}

#slide-1 {
	background-color: #fff7d4;
}

#slide-2 {
	background-color: #b5cc64;
	height: 200px;
}

.link {
	margin-left: auto;
}

.img {
	width:250px;
	margin-left: auto;
}

#subtitle_text {
	font-weight: bold;
	font-size: 25px;
	text-align: center;
	font-family: sans-serif;
}

.subtitle {
	border: 2px solid;
	margin-right: 80%;

}

.content-wrapper {
	display: flex;
	height: 31vh;
	margin-top: 9px;
	margin-bottom: 9px;
}

.slides {
	
}

.robot {
	flex: 30%;
	border: 1px solid;
	margin-left: 9px;
	margin-right: 9px;
	position: relative;
	background: white;
	display: none;
}

.description {
	flex: 70%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


#prg_1 {
	text-align: left;
	padding-right: 3%;
	padding-left: 2%;
}

#prg_2 {
	text-align: justify;
	padding-right: 6%;
	padding-left: 2%;
}

#prg_3 {
	text-align: left;
	padding-right: 9%;
	padding-left: 2%;
}

#good_luck {
	width: 100px;
}

#par_pic {
	display: flex;
}

.writing {
	border: 1px solid;
	margin: 0px 125px 0px 40px;
	background: white;
}

.eye {
  width: 10px;
  height: 10px;
  border: 1px solid black;
  border-radius: 5px;
  position: absolute;
  top: 28px;
}

#eye_left {
	left: 45%;
}

.eye_right {
	left: 49%;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}


@keyframes blink {
	from {
		top: 28px;
		width: 10px;
		height: 10px;
	} 
	
	to {
		border-radius: 0px;
		top: 22px;
		width: 12px;
		border-top: 0px;
		border-left: 0px;
		border-right: 0px;
		border-bottom: 2px solid;
	}
}

#head {
  width: 9ex;
  height: 9ch;
  border: 1px solid black;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 50%;
  position: absolute;
  top: 2%;
  left: 42.5%;
}

.mouth {
	width: 25px;
	height: 5px;
	border: 1px solid black;
    border-radius: 30px;
    position: absolute;
    left: 46%;
    top: 19%;
	animation-duration: 1s;
	animation-iteration-count: 10;
}

@keyframes talk {
	0% {
		width: 25px;
		height:5px;
	}

	25% {
		width:21px;
		height: 7px;
	}

	50% {
		width: 17px;
		height: 10px;
	}

	75% {
		width: 17px;
		height: 7px;
	}

	100% {
		width: 25px;
		height: 5px;
	}
}

.body {
  border: 1px solid black;
  transform: perspective(4px) rotateX(-2deg);
  margin: 8%;
  height: 11ch;
  width: 7ex;
  position: absolute;
  top: 20%;
  left: 35%;
  z-index: 2;
  background: orange;
}

.skirt {
	border: 1px solid black;
	transform: perspective(6px) rotateX(2deg) rotateY(1deg);
	margin: 8%;
	height: 9ch;
	width: 7ex;
	position: absolute;
	top: 30%;
	left: 35%;
	background: purple;
	z-index: 2;
	display: none;
}

.hand {
	border: 1px solid black;
	background: grey;
	height: 15px;
	width: 75px;
	transform: rotate(90deg);
	position: absolute;
	border-radius: 5px;
	top: 40%;
}

#hand_left {
	left: 32%;
}

#hand_right {
	left: 50%;
}

.leg {
	border: 1px solid black;
	height: 50px;
	width: 15px;
	position: absolute;
	top: 64%;
	z-index: 1;
	animation-iteration-count: infinite;
	animation-duration: 0.7s;
}

@keyframes jump {
	from {
		height: 50px;
	}

	to {
		height: 30px;
	}
}

#leg_right {
	left: 47.7%;
}

#leg_left {
	left: 42.7%;
}



.bubble {
	position: absolute;
	font-family: sans-serif;
	font-size: 18px;
	line-height: 24px;
	width: 300px;
	background: gray;
	border-radius: 40px;
	padding: 24px;
	text-align: center;
	color: #000;
	top: -20%;
	left: 55%;
	display: none;
}

.bubble-bottom-left:before {
	content: "";
	position: absolute;
	height: 0px;
	border-left: 24px solid gray;
	border-right: 12px solid transparent;
	border-top: 12px solid gray;
	border-bottom: 20px solid transparent;
	left: 10%;
	bottom: -17px;
}

.rbtName_lbl {
	position: absolute;
	bottom: 0%;
	left: 40%;
}

#lblCreateRobot {
	text-align: center;
}

.change_robot {
	display: none;
	justify-content: center;
	padding: 5px;
}

.button_robot {
	flex-direction: row;
}

#btn_previous {
	margin-right: 5px;
}

#btn_next {
	margin-left: 5px;
}

#slideshow {
	
}




.form {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.question {
	display: flex;
	flex-direction: column;
}

.button {
	bottom: 30px;
	width: 100px;
	height: 30px;
}

#btn1 {
	left: 60px;
}

#btn2 {
	left: 180px;
	word-wrap: break-word;
	width: 150px;
}

.lbl-checkbox {
	display: flex;
}